body {
  margin:0;
  font-family: 'Darker Grotesque', sans-serif;
  background-color:#f2f2f2;

  min-width: 1055px;
  _max-width: 1055px;
}

.header {
  width:100%;
  height:60px;
  background-color:#008554;
  background-color:#4f9eff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.header h1 {
  margin:0;
  padding-top:8px;
  padding-left:20px;
  color:white;
  font-size: 35px;
}

.footer {
    margin-top:50px;
    width:100%;
    height:40px;
    background-color:#4f9eff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.content {
  padding:30px;
  margin: 2% 2% 0 2%;
  background-color:white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  overflow:auto;
}

#mapcontainer {
  width:100%;
  height:350px;
  border:solid 1px #cccccc;
}

.graphcontainer {
  height:400px;
  margin-top:10px;
  clear:both;
}

.w4_left {
  width:42%;
  float:left;
}

.w4_right {
  width:42%;
}


.w9 {
  width:90%
}


.table {
    display: table;
}




.header a{
  text-decoration: none;
  margin:0;
  padding-top:8px;
  padding-left:20px;
  color:white;
  font-size: 35px;
}





















.selectdiv {
  position: relative;
  float: left;
  min-width: 200px;
  margin-bottom: 20px;
}

select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;

  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
